@{
    ViewBag.Title = "ListarPessoas() | Integrações";
}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    
    <div class="card">
        <h5 class="card-header">Autenticação</h5>
        <div class="card-body">
            <h5 class="card-title">/token</h5>
            <a href="http://localhost:58050/token" target="_blank" class="btn btn-primary">http://localhost:58050/token</a>
            <p class="card-text" style="padding-top: 15px;">
                Método para gerar token de autenticação utilizando usuário e senha. 
            </p>
            <p class="card-text" style="padding: 15px; background: #e5e5e5;">
                <b>Parâmetros</b><br />
                grant_type:password<br />
                username: sances<br />
                password: sances
            </p>
        </div>
    </div>

</main>