@{
    ViewBag.Title = "ListarPessoas() | Integrações";
}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Pessoas | Método ListarPessoas()</h1>
    </div>

    <div class="card">
        <h5 class="card-header">ListarPessoas()</h5>
        <div class="card-body">
            <h5 class="card-title">/api/listarpessoas</h5>
            <a href="http://localhost:58050/api/listarpessoas" target="_blank" class="btn btn-primary">http://localhost:58050/api/listarpessoas</a>
            <p class="card-text" style="padding-top: 15px;">
                Método para listar todos as pessoas cadastradas. Formato em JSON. 
            </p>
            
        </div>
    </div>
    

</main>