@{
    ViewBag.Title = "Dashboard";

}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>        
    </div>

    

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagens/pessoas-ilustracao.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pessoas</h5>
            <p class="card-text">Aqui você pode começar a cadastrar pessoas.</p>
            <a href="/pessoas/create/" class="btn btn-primary">Começar agora</a>
        </div>
    </div>

</main>