@{
    ViewBag.Title = "Home Page";

    var Configuracao = Teste_Cadastros.Helper.ConfiguracoesHelper.ConfiguracoesObj();

}

@if (Configuracao == null)
{
    <div class="jumbotron">
        <h1>Teste de Cadastros</h1>
        <p class="lead">ALERTA: É necessário definir algumas configurações antes de utilizar o sistema.</p>
        <p><a href="@Url.Action("Index", "Configuracoes")" class="btn btn-primary btn-lg">Ir para Configurações &raquo;</a></p>
    </div>
}
else
{

<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo</h2>
        <p style="margin-bottom: 30px;">
            Este sistema permite efetuar cadastros de pessoas.            
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Cadastros")">Cadastrar novo &raquo;</a></p>
    </div>
</div>

}